<%= render :partial => 'site/appropriateness_message' %>

<%= semantic_form_for(@source, :html => {:id => 'source_form', :class => 'standard_form'}, :url => { :action => :import }) do |f| %>
  <%= f.inputs :name => t("import_a_source") do %>
    <li class='input'>
      <p class='inline-hints'>
        <%= t("hints.import_events_from_feed") %>
        <%= SourceParser.labels.to_sentence %>
      </p>
    </li>
    <%= f.input :url, :label => t("url") %>
    <% focus_on '#source_url' %>

    <%# FIXME Igal has disabled reimport UI because people are adding almost all new events with re-import, which means that they're almost all generating duplicates and I'm completely overwhelmed with having to use the horrible squashing UI to deal with them. %>
    <% if false %>
      <%= f.input :reimport, :label => t("re_import"), :hint => t("hints.check_source_regularly") %>
    <% end %>
  <% end %>

  <%= f.buttons do %>
    <%= f.commit_button t("import") %>
  <% end %>

  <%= f.inputs do %>
    <li class='input'>
      <p class='inline-hints'>
      <%= t("hints.bookmark_import_html")
      <%= link_to t("add_to", :name => SETTINGS.name), "javascript:d=document;q=(d.location.href);w=window;location.href='#{new_source_url}?url='+escape(q);" %>
      </p>
    </li>
  <% end %>
<% end %>
