<% content_for :discovery_insert do %>
  <link rel="alternate" type="application/x-wiki" title="Edit this page" href="<%= edit_source_url(@source) %>" />
<% end %>

<p>
  <b><%= t("url") %></b>
  <%= source_url_link @source %>
</p>

<p>
   <b><%= t("events") %>:</b>
   <%= render :partial => 'events/list', :locals => { :events =>  @source.events } %>
</p>

<%= link_to t("back"), sources_path %> |
<%= link_to t("destroy"), @source, :confirm => t("are_you_sure"), :method => :delete %>
