<div id="events_duplicates">
  <h1><%= t("duplicate_events") %></h1>

  <div id='list_filters' class='sidebar'>
    <h3><%= t("show_event_with_duplicate") %></h3>
    <ul>
      <li><%= link_to_unless_current t("title"), url_for(:action => 'duplicates', :type => 'title') %></li>
      <li><%= link_to_unless_current t("start_time"), url_for(:action => 'duplicates', :type => 'start_time') %></li>
      <li><%= link_to_unless_current t("both_times"), url_for(:action => 'duplicates', :type => 'start_time,end_time') %></li>
      <li><%= link_to_unless_current t("url"), url_for(:action => 'duplicates', :type => 'url') %></li>
      <li><%= link_to_unless_current t("description"), url_for(:action => 'duplicates', :type => 'description') %></li>
      <li><%= link_to_unless_current t("venue"), url_for(:action => 'duplicates', :type => 'venue_id') %></li>
      <li><%= link_to_unless_current t("source"), url_for(:action => 'duplicates', :type => 'source_id') %></li>
      <li>-----</li>
      <li><%= link_to_unless_current t("any_field"), url_for(:action => 'duplicates', :type => 'any') %></li>
      <li><%= link_to_unless_current t("all_fields"), url_for(:action => 'duplicates', :type => 'all') %></li>
    </ul>
    <h3>List Events</h3>
    <ul>
      <li><%= link_to_unless_current t("all_events"), url_for(:action => 'duplicates', :type => 'na') %></li>
    </ul>
  </div>
  <% unless @grouped_events.empty? %>
    <%= form_tag :action => "squash_many_duplicates", :method => :post %>
      <div class="flash notice">
        t("")
        Select only one set of master and duplicate events. If you select an unrelated event, it will be merged into the same single master record.
      </div>
      <div id='list_items'>
        <%= hidden_field_tag(:type, @type) %>
        <table>
          <% for value, group in @grouped_events %>
            <tr>
              <th><%= t("master") %>?</th><th><%= t("duplicate") %>?</th><th><%= t("event") %><%= " (#{value})" unless value.blank? %></th>
            </tr>
            <% for event in group %>
              <tr class="<%= cycle('odd', 'even') %>">
                <td><%= radio_button_tag("master_id", event.id) %></td>
                <td><%= check_box_tag("duplicate_id_#{event.id}", event.id) %></td>
                <td>
                  <div><%= link_to event.title, event_url(event) %></div>
                  <div><%= event.start_time %><%= ", #{event.venue.title}" unless event.venue.nil? %></div>
               </td>
              </tr>
            <% end %>
          <% end %>
        </table>
        <ul>
          <li><%= t("checked_items_will_be_deleted") %>.</li>
        </ul>
        <%= submit_tag t("squash_duplicates") %>
      </div>
    </form>
  <% else %>
  <%= t("no_duplicates_found") %>
  <% end %>
</div>
