<%= semantic_form_for(venue, :html => {:id => 'venue_form', :class => 'standard_form', :novalidate => 'novalidate'}) do |f| %>
  <%= f.inputs :name => "#{'Editing: ' unless venue.new_record?} <em>#{venue.title}</em>".html_safe do %>
    <li class='input'>
      <p class='inline-hints'>
        <%= t("hints.venue_details", :action => venue.new_record? ? t("enter") : t("edit")) %>
      </p>
    </li>
    <%= f.input :title, :label => t("venue_name") %>
    <% focus_on '#venue_title' %>
    <%= f.input :address, :label => t("full_address"), :hint => t("hints.full_address_one_line") %>

    <% unless venue.new_record? %>
      <%= f.input :street_address %>
      <%= f.input :locality, :label => t("city") %>
      <%= f.input :region, :label => t("state") %>
      <%= f.input :postal_code, :label => t("zip_code") %>
      <%= f.input :latitude %>
      <%= f.input :longitude %>
    <% end %>

    <%= f.input :url, :label => t("web_link") %>
    <%= f.input :email %>
    <%= f.input :telephone %>
    <%= f.input :wifi, :label => t("has_public_wireless") %>
    <%= f.input :description,
                :input_html => {:rows => 12},
                :hint => t("hints.format_text_with", :link => link_to("Markdown", "http://www.simpleeditions.com/59001/markdown-an-introduction", :target => "_blank")).html_safe %>
    <%= f.input :access_notes,
                :input_html => {:rows => 4},
                :hint => t("hints.access_details") %>

    <%= f.input(:closed, :label => t("venue_closed")) unless venue.new_record? %>

    <%= f.input :tag_list, :required => false,
                :label => t("Tags"),
                :hint => t("hints.tags").html_safe %>

    <% unless venue.new_record? %>
      <%= f.input :force_geocoding,
                  :label => venue.location ? t("re_geocode?") : t("geocode?"),
                  :as => :boolean,
                  :hint => venue.location \
                            ? t("hints.geocode_with_location", :latitude => venue.latitude, :longitude => venue.longitude) \
                            : t("hints.geocode_without_location") %>
    <% end %>

    <li class='trap'>
      <%= label 'trap', 'field', t("hints.evil_robot") %>
      <%= text_field_tag 'trap_field', params[:trap_field] %>
    </li>

    <% if !params[:from_event].blank? %>
      <%= hidden_field_tag(:from_event, params[:from_event]) %>
    <% end %>
  <% end %>

  <%= f.buttons do %>
    <%= f.commit_button %>
  <% end %>
<% end %>
