<div id="venues_duplicates">
  <h1><%= t("duplicate_venues") %></h1>

  <div id='list_filters' class='sidebar'>
    <h3><%= t("show_venues_with_duplicate") %></h3>
    <ul>
      <li><%= link_to_unless_current t("title"), url_for(:action => 'duplicates', :type => 'title') %></li>
      <li><%= link_to_unless_current t("address"), url_for(:action => 'duplicates', :type => 'address') %></li>
      <li><%= link_to_unless_current t("street_address"), url_for(:action => 'duplicates', :type => 'street_address') %></li>
      <li><%= link_to_unless_current t("postal_code"), url_for(:action => 'duplicates', :type => 'postal_code') %></li>
      <li><%= link_to_unless_current t("url"), url_for(:action => 'duplicates', :type => 'url') %></li>
      <li><%= link_to_unless_current t("description"), url_for(:action => 'duplicates', :type => 'description') %></li>
      <li><%= link_to_unless_current t("geo_coords"), url_for(:action => 'duplicates', :type => 'latitude,longitude') %></li>
      <li><%= link_to_unless_current t("email"), url_for(:action => 'duplicates', :type => 'email') %></li>
      <li><%= link_to_unless_current t("telephone"), url_for(:action => 'duplicates', :type => 'telephone') %></li>
      <li>-----</li>
      <li><%= link_to_unless_current t("any_field"), url_for(:action => 'duplicates', :type => 'any') %></li>
      <li><%= link_to_unless_current t("all_fields"), url_for(:action => 'duplicates', :type => 'all') %></li>
    </ul>
    <h3>List venues</h3>
    <ul>
      <li><%= link_to_unless_current t("all_venues"), url_for(:action => 'duplicates', :type => 'na') %></li>
    </ul>
  </div>

  <% unless @grouped_venues.empty? %>
    <%= form_tag :action => "squash_many_duplicates", :method => :post %>
      <div class="flash notice">
        <%= t("flash.select_one_master_and_duplicates") %>
      </div>
      <div id='list_items'>
        <%= hidden_field_tag(:type, @type) %>
        <table>
          <% for value, group in @grouped_venues %>
            <tr>
              <th><%= t("master") %></th><th><%= t("duplicate") %></th><th><%= t("nb_of_events") %></th><th><%= t("venue") %><%= " (#{value})" unless value.blank? %></th>
            </tr>
            <% for venue in group %>
              <tr class="<%= cycle('odd', 'even') %>">
                <td><%= radio_button_tag("master_id", venue.id) %></td>
                <td><%= check_box_tag("duplicate_id_#{venue.id}", venue.id) %></td>
                <td><%= venue.events_count %></td>
                <td>
                  <%= link_to(venue.title, venue_url(venue)) %>
                  <% if venue.has_full_address? %>
                    at <%= venue.full_address %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
        <ul>
          <li><%= t("checked_items_will_be_deleted") %></li>
          <li><%= t("replace_deleted_venues_by_selected_venue") %></li>
        </ul>
        <%= submit_tag t("squash_duplicates") %>
      </div>
    </form>
  <% else %>
    <%= t("no_duplicates_found") %>
  <% end %>
</div>
